<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hardlove.wallpaper">

    <!--设置壁纸权限-->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <!-- 允许应用程序读取设备外部存储空间的文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <!--视频动态壁纸-->
        <service
            android:name=".service.VideoWallpaperService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER"
            android:process=":wallpaper">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/video_wallpaper" />

        </service>
    </application>
</manifest>